.page {
    display: flex;
    flex-direction: column;
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 8px 16px!important;
        letter-spacing: 3px;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    }
    .logo {
        display: flex;
        flex-direction: row;
        padding: 8px 16px;
        div{
            font-weight: bold;
        }   
    }
    .logo:hover{
        background-color: lightgrey;
    }

    .items{
        display: flex;
        flex-direction: row;
        .headerItem{
            padding: 8px 16px;
            float: left;
            width: auto;
            border: none;
            display: block;
            outline: 0;
        }
        .headerItem:hover{
            background-color: lightgrey;
        }
    }
}

.mainSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    background: url("../../../images/topography.svg");
    .overlay{
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: rgba(255,255,255,0.9);
        height: 100%;
    }
    .logo{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .header{
        font-size: 46px;
        text-align: center;
        display: flex;
        justify-content: center;
        div{
            font-weight: bold;
        } 
    }
    .paragraph{
        font-size: 20px;
        text-align: center;
        padding-top: 20px;
    }
}

.section{
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: center;
    align-content: center;
    .overlay{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        .reverse{
            flex-direction: row-reverse !important;
        }
        .content{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            max-width:1280px;
            width: 100%;
            margin:0 20px;
            .info{
                max-width:50%;
            }
            .info-right{
                max-width: 50%;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                text-align: right;
            }
            .header{
                display: flex;
                color: white;
                font-size: 50px;
            }
            .paragraph{
                display: flex;
                color: white;
                font-size: 20px; 
            }

        }
    }
}

.image{
    height: 100%;
    width: 400px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 40px;
}

.b1{
    background-image: url('../../../images/background1.jpg');
    background-position-y:-555px;
    .overlay{
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,20,0.50);
    }
    .image{
        background-image: url('../../../images/image1.png');
    }
}

.b2{
    background-image: url('../../../images/background2.jpg');
    background-position-y:-380px;
    .overlay{
        height: 100%;
        width: 100%;
        background-color: rgba(40,0,0,0.50);
    }
    .image{
        background-image: url('../../../images/image3.png');
    }
}

.b3{
    background-image: url('../../../images/background3.jpg');
    background-position-y:-260px;
    .overlay{
        height: 100%;
        width: 100%;
        background-color: rgba(0,20,0,0.50);
    }
    .image{
        background-image: url('../../../images/image2.png');
    }
}

.footerSection{
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    align-content: center;
    background: url("../../../images/topography.svg");
    background-color: white;
    .overlay{
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,0.9);
        .info{
            display: flex;
            flex-direction: column;
            height: 100%;
            align-items: center;
            justify-content: center;
        }
    }
    .title{
        margin-bottom: 50px;
        color: white;
        font-size: x-large;
        font-family: sans-serif;
        border-bottom: solid;
        width: 400px;
        text-align: center;
        padding-bottom: 10px;
    }
    .teamInfo{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .icon{
        height: 50px;
        width: 50px;
        object-fit: cover;
        background-color: white;
        border-radius: 55px;
        margin-right: 10px;
    }
    .item{
        display: flex;
        flex-direction: column;
        color: white;
        margin-right: 20px;
        align-items: center;
    }
}
